<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>F060ACF8-C6C8-4C4F-8C0E-8ED63FE61003.playgroundpage</string>
		<string>7E2CC18B-C961-4816-9A0C-55BA6C19C123.playgroundpage</string>
		<string>05935FA4-0F4C-4D5E-A937-67A8C6E410C7.playgroundpage</string>
		<string>0E1AD6C2-4BED-48EF-BC3D-235994ACC311.playgroundpage</string>
		<string>3911BE1D-CD89-40D2-B351-B98D48A7D132.playgroundpage</string>
		<string>72D872E0-39B7-4019-A9B6-440F0F865A9D.playgroundpage</string>
		<string>F899F9C1-FD7F-4312-AF6F-D491BBF08EF1.playgroundpage</string>
		<string>03694AC2-FA76-4D51-ADDF-0847023905EE.playgroundpage</string>
		<string>9B97C054-7C8A-479C-8DE4-C8D0CC0B6B5D.playgroundpage</string>
		<string>2F1C4C79-9A66-4ED9-84E6-1512AA141ACF.playgroundpage</string>
		<string>4278A738-6138-421B-A0E6-1A528476A36F.playgroundpage</string>
	</array>
</dict>
</plist>
